.cardDesign{
    border:2px groove wheat;
    background-color: rgb(34, 30, 30);
    margin-bottom: 20px;
    padding-bottom: 8px;
}
img{
    height: 500px;
    width: 450px;
    border: 3px groove wheat;
}

a{
    cursor: pointer;
    color: skyblue;
}

h1,h5,h6{
    color: wheat;
}

button{
    float: right;
}