img {
    height: 250px;
    width: 150px;
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  figcaption {
    color: wheat;
    text-align: center;
    display: block;
  }
  .cardDesign {
    border: 2px groove wheat;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 45px;
    cursor: pointer;
    margin-bottom: 20px;
    /* margin-right: 10px; */
  }
  .backGround {
    background-color: black;
  }